# Setup in VS Code
- ### First set your Python interpreter (Cmd/Ctl Shift P): "Python: Select Interpreter" and select a matching "python3" for the next "pip3" line
- ### Install Jupyter if not already installed: "pip3 install Jupyter"
- ### Next start a new Jupyter notebook (Cmd/Ctl Shift P): "Jupyter: Create New Blank Notebook"
- ### Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"
- ### Install "pip3 install SQLAlchemy" and "pip3 install cx_Oracle" for Oracle connectivity
- ### Review Oracle ODBC setup in pythonoracle_odbc.py (this example uses ODBC)

In [2]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# Library to talk with Oracle, requires Python cx_Oracle module and the Oracle Instant Client to be installed on host
from sqlalchemy import create_engine
# Field mapping uses SQLAlchemy
import sqlalchemy

# Read Excel file

In [3]:
# Create DataFrame from Excel
df_excel = pd.read_excel("testtable.xlsx", converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str})
# View your new DataFrame
df_excel

         TEST_DATETIME  TEST_NUMBER                             TEST_TEXT
0  2021-08-18 13:24:39       128355                          Test from R!
1  2021-08-18 13:40:42       128355                    Test from R again!
2  2021-08-18 13:46:47       209998               Test from R once again!
3  2021-08-18 13:55:06       498198       R test from the actual program!
4  2021-08-20 15:12:05       573466                     Test from Python!
5  2021-08-20 15:12:05       678345               Test from Python again!
6  2021-08-20 15:37:45       456234          Test from Python once again!
7  2021-08-20 16:31:54       654321  Python test from the actual program!

# Excel Columns

In [4]:
# List DataFrame columns
df_excel.columns

Index(['TEST_DATETIME', 'TEST_NUMBER', 'TEST_TEXT'], dtype='object')

# Excel Columns Rename

In [ ]:
# Rename fields to match database (if needed)
df_excel.rename(columns = {'TEST_DATETIME':'test_datetime', }, inplace = True)
df_excel.rename(columns = {'TEST_NUMBER':'test_number', }, inplace = True)
df_excel.rename(columns = {'TEST_TEXT':'test_text', }, inplace = True)

# Convert Date/Time Field from String

In [ ]:
# String to Date/Time
df_excel['test_datetime'] = pd.to_datetime(df_excel['test_datetime'])

# Excel Field Types

In [ ]:
# List fields and their types
df_excel.convert_dtypes().dtypes

# Oracle Setup and Test

In [ ]:
# Connection string (assumes Oracle TNS is already configured)
db_connection = 'oracle+cx_oracle://[account]:[pass]@ORACLE_TNS'
# Database connection
db_inst = create_engine(db_connection)
# Read existing Oracle table
oracle_table = "testtable"
# Build query
oracle_query = "SELECT * FROM %s" % (str(oracle_table))
# Run query
df_oracle = pd.read_sql_query(oracle_query, con=db_inst)
# View your new DataFrame
df_oracle

# Append Excel to Oracle

In [81]:
# Append Excel DataFrame to Oracle table
df_excel.to_sql(oracle_table, db_inst, if_exists='append', index=False)

# Optional Way to Append Excel to Oracle if unable to map data types in DataFrame

In [ ]:
# Build dictory for data mapping
df_excel_oracle_mapfields = dict({'test_datetime': sqlalchemy.DateTime(), 'test_number': sqlalchemy.types.INTEGER(), 'test_text': sqlalchemy.types.VARCHAR(length=50)})
# Append Excel DataFrame to Oracle table using data mapping
df_excel.to_sql(oracle_table, db_inst, if_exists='append', index=False, dtype=df_excel_oracle_mapfields)

# Oracle Test for New Data

In [ ]:
# Run query
df_oracle_updated = pd.read_sql_query(oracle_query, con=db_inst)
# View your updated DataFrame
df_oracle_updated