# Setup in VS Code
- ### First set your Python interpreter (Cmd/Ctl Shift P): "Python: Select Interpreter" and select a matching "python3" for the next "pip3" line
- ### Install Jupyter if not already installed: "pip3 install Jupyter"
- ### Next start a new Jupyter notebook (Cmd/Ctl Shift P): "Jupyter: Create New Blank Notebook"
- ### Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"
- ### Install "pip3 install SQLAlchemy" and "pip3 install cx_Oracle" for Oracle connectivity
- ### Review Oracle ODBC setup in pythonoracle_odbc.py (this example uses ODBC)

In [8]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# Used to get the current date/time
from datetime import datetime
# Library to talk with Oracle, requires Python cx_Oracle module and the Oracle Instant Client to be installed on host
from sqlalchemy import create_engine
# Field mapping uses SQLAlchemy
import sqlalchemy

# Read Excel file

In [2]:
# Create DataFrame from Excel
df_excel = pd.read_excel("testtable_source.xlsx", converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str, 'RECORD_ADDED':str})
# View your new DataFrame
df_excel

,TEST_DATETIME,TEST_NUMBER,TEST_TEXT,RECORD_ADDED
0,2021/08/25 19:10:28,902246,Record added August 25 of 2021,2021/08/25 19:10:28
1,2021/08/25 19:10:28,849084,Record added August 25 of 2021,2021/08/25 19:10:28
2,2021/08/25 19:10:28,390490,Record added August 25 of 2021,2021/08/25 19:10:28
3,2021/08/25 19:10:28,563009,Record added August 25 of 2021,2021/08/25 19:10:28

# Excel Columns Rename

In [5]:
# Rename fields to match database (if needed)
df_excel.rename(columns = {'TEST_DATETIME':'test_datetime', }, inplace = True)
df_excel.rename(columns = {'TEST_NUMBER':'test_number', }, inplace = True)
df_excel.rename(columns = {'TEST_TEXT':'test_text', }, inplace = True)
df_excel.rename(columns = {'RECORD_ADDED':'record_added', }, inplace = True)

# Update Record Added Fields

In [16]:
# Get the current date/time
now_is = datetime.now().strftime("%Y/%m/%d %H:%M:%S")
# Populate the updated date/time
df_excel['record_added'] = now_is

# Convert Date/Time Fields from String

In [18]:
# String to Date/Time
df_excel['test_datetime'] = pd.to_datetime(df_excel['test_datetime'])
df_excel['record_added'] = pd.to_datetime(df_excel['record_added'])

# Excel Columns

In [3]:
# List DataFrame columns
df_excel.columns
# List field types
df_excel.convert_dtypes().dtypes

TEST_DATETIME    string
TEST_NUMBER       Int64
TEST_TEXT        string
RECORD_ADDED     string
dtype: object

# Oracle Setup and Test

In [ ]:
# Connection string (assumes Oracle TNS is already configured)
db_connection = 'oracle+cx_oracle://[account]:[pass]@ORACLE_TNS'
# Database connection
db_inst = create_engine(db_connection)
# Read existing Oracle table
oracle_table = "testtable"
# Build query
oracle_query = "SELECT * FROM %s" % (str(oracle_table))
# Run query
df_oracle = pd.read_sql_query(oracle_query, con=db_inst)
# View your new DataFrame
df_oracle

# Optional Drop Table before Loading Data

In [ ]:
# Build statement
oracle_drop = "DROP TABLE %s" % (str(oracle_table))
# Drop table
db_inst.execute(oracle_drop)

# Append Excel to Oracle

In [81]:
# Append Excel DataFrame to Oracle table
df_excel.to_sql(oracle_table, db_inst, if_exists='append', index=False)

# Optional way to Append Excel to Oracle if unable to map data types in DataFrame

In [ ]:
# Build dictory for data mapping
df_excel_oracle_mapfields = dict({'test_datetime': sqlalchemy.DateTime(), 'test_number': sqlalchemy.types.INTEGER(), 'test_text': sqlalchemy.types.VARCHAR(length=50), 'record_added': sqlalchemy.DateTime()})
# Append Excel DataFrame to Oracle table using data mapping
df_excel.to_sql(oracle_table, db_inst, if_exists='append', index=False, dtype=df_excel_oracle_mapfields)

# Oracle Test for New Data

In [ ]:
# Run query
df_oracle_updated = pd.read_sql_query(oracle_query, con=db_inst)
# View your updated DataFrame
df_oracle_updated