# Setup in VS Code
- First set your Python interpreter in (Cmd Shift P): "Python: Select Interpreter" and select a matching "python3" for the next line
- Install Jupyter if not already installed: "pip3 install Jupyter"
- Next start a new Jupyter notebook (Cmd Shift P): "Jupyter: Create New Blank Notebook"
- Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"

In [52]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# The following are for FTPing
from ftplib import FTP

# Read Excel file

In [54]:
# Excel file name
excel_filename_source = "testtable_source.xlsx"
# Create DataFrame from Excel
df_excel = pd.read_excel(excel_filename_source, converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str})
# View your new DataFrame
df_excel

,TEST_DATETIME,TEST_NUMBER,TEST_TEXT,RECORD_ADDED
0,2021-08-25 08:42:43,428514,Record added to Excel August 25 of 2021,2021-08-25 08:42:43
1,2021-08-25 08:42:43,904954,Record added to Excel August 25 of 2021,2021-08-25 08:42:43
2,2021-08-25 08:42:43,629890,Record added to Excel August 25 of 2021,2021-08-25 08:42:43
3,2021-08-25 08:42:43,326473,Record added to Excel August 25 of 2021,2021-08-25 08:42:43
4,2021-08-26 08:42:43,815098,Record added to Excel August 26 of 2021,2021-08-26 08:42:43
5,2021-08-26 08:42:43,301769,Record added to Excel August 26 of 2021,2021-08-26 08:42:43
6,2021-08-26 08:42:43,879650,Record added to Excel August 26 of 2021,2021-08-26 08:42:43
7,2021-08-26 08:42:43,737747,Record added to Excel August 26 of 2021,2021-08-26 08:42:43
8,2021-08-27 08:42:43,140170,Record added to Excel August 27 of 2021,2021-08-27 08:42:43
9,2021-08-27 08:42:43,246890,Record added to Excel August 27 of 2021,2021-08-27 08:42:43
10,2021-08-27 08:42:43,848615,Record added to Excel August 27 of 2021,2021-08-27 08:42:43
11,2021-08-27 08:42:43,813903,Record added to Excel August 27 of 2021,2021-08-27 08:42:43

# FTP Setup

In [ ]:
# FTP site details
ftp_server = "ftp.servername.com"
ftp_user = "username"
ftp_pass = "password"
ftp_path = "~"
# FTP start session
ftp_connection = FTP(ftp_server)
# FTP login
ftp_connection.login(ftp_user, ftp_pass)
# FTP set remote directory
ftp_connection.cwd(ftp_path)

# FTP Upload Excel File

In [ ]:
# FTP send file
ftp_store_command = "STOR " + excel_filename_source
try:
    with open(excel_filename_source, "rb") as ftp_file:
        ftp_connection.storbinary(ftp_store_command, ftp_file)
except Exception as ftp_error:
      print("FTP upload file error: " + str(ftp_error))

# FTP Download Excel File

In [ ]:
# Excel new file name
excel_filename_new = "testtable_source_copy.xlsx"
# FTP download file
ftp_retrieve_command = "RETR " + excel_filename_source
try:
    with open(excel_filename_new, "wb") as ftp_file:
        ftp_connection.retrbinary(ftp_retrieve_command, ftp_file.write)
except Exception as ftp_error:
      print("FTP download file error: " + str(ftp_error))

# FTP Close Connection

In [ ]:
# FTP close
ftp_connection.quit()