# Setup in VS Code
- First set your Python interpreter in (Cmd Shift P): "Python: Select Interpreter" and select a matching "python3" for the next line
- Install Jupyter if not already installed: "pip3 install Jupyter"
- Next start a new Jupyter notebook (Cmd Shift P): "Jupyter: Create New Blank Notebook"
- Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"

In [1]:
# Pandas for CSV/Excel manipulation
import pandas as pd

# Read CSV file

In [2]:
# Create DataFrame from CSV
df_csv = pd.read_csv("testtable_source.csv")
# View your new DataFrame
df_csv

,TEST_DATETIME,TEST_NUMBER,TEST_TEXT,RECORD_ADDED
0,2021/08/25 19:10:28,902246,Record added August 25 of 2021,2021/08/25 19:10:28
1,2021/08/25 19:10:28,849084,Record added August 25 of 2021,2021/08/25 19:10:28
2,2021/08/25 19:10:28,390490,Record added August 25 of 2021,2021/08/25 19:10:28
3,2021/08/25 19:10:28,563009,Record added August 25 of 2021,2021/08/25 19:10:28

# Read Excel file

In [3]:
# Create DataFrame from Excel
df_excel = pd.read_excel("testtable_source.xlsx", converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str})
# View your new DataFrame
df_excel

,TEST_DATETIME,TEST_NUMBER,TEST_TEXT,RECORD_ADDED
0,2021/08/25 19:10:28,902246,Record added August 25 of 2021,2021/08/25 19:10:28
1,2021/08/25 19:10:28,849084,Record added August 25 of 2021,2021/08/25 19:10:28
2,2021/08/25 19:10:28,390490,Record added August 25 of 2021,2021/08/25 19:10:28
3,2021/08/25 19:10:28,563009,Record added August 25 of 2021,2021/08/25 19:10:28

# CSV Columns

In [4]:
# List DataFrame columns
df_csv.columns
# List field types
df_csv.convert_dtypes().dtypes

TEST_DATETIME    string
TEST_NUMBER       Int64
TEST_TEXT        string
RECORD_ADDED     string
dtype: object

# Excel Columns

In [5]:
# List DataFrame columns
df_excel.columns
# List field types
df_excel.convert_dtypes().dtypes

TEST_DATETIME    string
TEST_NUMBER       Int64
TEST_TEXT        string
RECORD_ADDED     string
dtype: object

# Write CSV to Excel

In [6]:
# Send CSV DataFrame to Excel file
df_csv.to_excel('testtable_csv_export.xlsx', index=False)

# Write Excel to CSV

In [7]:
# Send Excel DataFrame to CSV file
df_excel.to_csv('testtable_excel_export.csv', index=False)

# Write CSV transform to Excel

In [8]:
# Filter the CSV data
date_query = df_csv['TEST_DATETIME'].str.contains("2021/08/25")
df_filtered_csv = df_csv.query('@date_query')
# Send part part of the CSV filtered DataFrame to Excel file
df_filtered_csv.to_excel('testtable_transformed_csv_export.xlsx', index=False, columns=['TEST_DATETIME', 'TEST_NUMBER'])

# Write Excel transform to CSV

In [9]:
# Filter the Excel data
date_query = df_excel['TEST_DATETIME'].str.contains("2021/08/25")
df_filtered_excel = df_excel.query('@date_query')
# Send part part of the Excel filtered DataFrame to CSV file
df_filtered_excel.to_csv('testtable_transformed_excel_export.csv', index=False, columns=['TEST_DATETIME', 'TEST_NUMBER'])