# Setup in VS Code
- ### First set your Python interpreter in (Cmd Shift P): "Python: Select Interpreter" and select a matching "python3" for the next line
- ### Install Jupyter if not already installed: "pip3 install Jupyter"
- ### Next start a new Jupyter notebook (Cmd Shift P): "Jupyter: Create New Blank Notebook"
- ### Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"

In [75]:
# Pandas for CSV/Excel manipulation
import pandas as pd

# Read CSV file

In [76]:
# Create DataFrame from CSV
df_csv = pd.read_csv("testtable.csv")
# View your new DataFrame
df_csv

         TEST_DATETIME  TEST_NUMBER                             TEST_TEXT
0  2021-08-18 13:24:39       128355                          Test from R!
1  2021-08-18 13:40:42       128355                    Test from R again!
2  2021-08-18 13:46:47       209998               Test from R once again!
3  2021-08-18 13:55:06       498198       R test from the actual program!
4  2021-08-20 15:12:05       573466                     Test from Python!
5  2021-08-20 15:12:05       678345               Test from Python again!
6  2021-08-20 15:37:45       456234          Test from Python once again!
7  2021-08-20 16:31:54       654321  Python test from the actual program!

# Read Excel file

In [90]:
# Create DataFrame from Excel
df_excel = pd.read_excel("testtable.xlsx", converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str})
# View your new DataFrame
df_excel

         TEST_DATETIME  TEST_NUMBER                             TEST_TEXT
0  2021-08-18 13:24:39       128355                          Test from R!
1  2021-08-18 13:40:42       128355                    Test from R again!
2  2021-08-18 13:46:47       209998               Test from R once again!
3  2021-08-18 13:55:06       498198       R test from the actual program!
4  2021-08-20 15:12:05       573466                     Test from Python!
5  2021-08-20 15:12:05       678345               Test from Python again!
6  2021-08-20 15:37:45       456234          Test from Python once again!
7  2021-08-20 16:31:54       654321  Python test from the actual program!

# CSV Columns

In [78]:
# List DataFrame columns
df_csv.columns

Index(['TEST_DATETIME', 'TEST_NUMBER', 'TEST_TEXT'], dtype='object')

# Excel Columns

In [79]:
# List DataFrame columns
df_excel.columns

Index(['TEST_DATETIME', 'TEST_NUMBER', 'TEST_TEXT'], dtype='object')

# Write CSV to Excel

In [80]:
# Send CSV DataFrame to Excel file
df_csv.to_excel('testtable_csv_export.xlsx', index=False)

# Write Excel to CSV

In [81]:
# Send Excel DataFrame to CSV file
df_excel.to_csv('testtable_excel_export.csv', index=False)

# Write CSV transform to Excel

In [86]:
# Filter the CSV data
date_query = df_csv['TEST_DATETIME'].str.contains("2021-08-18")
df_filtered_csv = df_csv.query('@date_query')
# Send part part of the CSV filtered DataFrame to Excel file
df_filtered_csv.to_excel('testtable_transformed_csv_export.xlsx', index=False, columns=['TEST_DATETIME', 'TEST_NUMBER'])

# Write Excel transform to CSV

In [91]:
# Filter the Excel data
date_query = df_excel['TEST_DATETIME'].str.contains("2021-08-18")
df_filtered_excel = df_excel.query('@date_query')
# Send part part of the Excel filtered DataFrame to CSV file
df_filtered_excel.to_csv('testtable_transformed_excel_export.csv', index=False, columns=['TEST_DATETIME', 'TEST_NUMBER'])