# Setup in VS Code
- First set your Python interpreter (Cmd/Ctl Shift P): "Python: Select Interpreter" and select a matching "python3" for the next "pip3" line
- Install Jupyter if not already installed: "pip3 install Jupyter"
- Next start a new Jupyter notebook (Cmd/Ctl Shift P): "Jupyter: Create New Blank Notebook"
- Install "pip3 install pandas"
- Install "pip3 install SQLAlchemy" and "pip3 install cx_Oracle" for Oracle connectivity
- Review Oracle ODBC setup in pythonoracle_odbc.py (this example uses ODBC)

In [18]:
# System for path append
import sys
# Pandas for data manipulation
import pandas as pd
# Used to get the current date/time
from datetime import datetime
# Library to talk with Oracle, requires Python cx_Oracle module and the Oracle Instant Client to be installed on host
from sqlalchemy import create_engine
# Append path where odbc_set it located
sys.path.append('/[yourlibrarylocation]')
# Script to setup Oracle connection
from odbc_set import odbc_setup

# Oracle Setup

In [20]:
# Oracle connection cursor using external script
# replace the [area] with your area
db_inst = odbc_setup("[area]")

# Read Oracle Table

In [ ]:
# Read existing Oracle table
oracle_table = "testtable"
# Build query
oracle_query = "SELECT * FROM %s" % (str(oracle_table))
# Run query
df_oracle = pd.read_sql_query(oracle_query, con=db_inst)
# View your new DataFrame
df_oracle

# Close Connection

In [ ]:
# Disconnect from Oracle cursor