# Setup in VS Code
- ### First set your Python interpreter (Cmd/Ctl Shift P): "Python: Select Interpreter" and select a matching "python3" for the next "pip3" line
- ### Install Jupyter if not already installed: "pip3 install Jupyter"
- ### Next start a new Jupyter notebook (Cmd/Ctl Shift P): "Jupyter: Create New Blank Notebook"
- ### Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"
- ### Install "pip3 install SQLAlchemy" and "pip3 install cx_Oracle" for Oracle connectivity
- ### Review Oracle ODBC setup in pythonoracle_odbc.py (this example uses ODBC)

In [2]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# Library to talk with Oracle, requires Python cx_Oracle module and the Oracle Instant Client to be installed on host
from sqlalchemy import create_engine
# Field mapping uses SQLAlchemy
import sqlalchemy

# Oracle Setup

In [ ]:
# Connection string (assumes Oracle TNS is already configured)
db_connection = 'oracle+cx_oracle://[account]:[pass]@ORACLE_TNS'
# Database connection
db_inst = create_engine(db_connection)

# Read Oracle Table

In [ ]:
# Read existing Oracle table
oracle_table = "testtable"
# Build query
oracle_query = "SELECT * FROM %s" % (str(oracle_table))
# Run query
df_oracle = pd.read_sql_query(oracle_query, con=db_inst)
# View your new DataFrame
df_oracle

# Oracle Columns

In [ ]:
# List DataFrame columns
df_oracle.columns
# List field types
df_oracle.convert_dtypes().dtypes

# Write Oracle to Excel

In [ ]:
# Send Oracle DataFrame to Excel file
df_oracle.to_excel('testtable_oracle_export.xlsx', index=False)

# Write Oracle to CSV

In [ ]:
# Send Oracle DataFrame to CSV file
df_oracle.to_csv('testtable_oracle_export.csv', index=False)

# Write Oracle to Text

In [ ]:
# Send Oracle DataFrame to string
text_oracle = df_oracle.to_string(header=False, index=False)
# Send Oracle string to text file
with open('testtable_oracle_export.txt', 'w') as text_contents:
    text_contents.write(text_oracle)

# Write Oracle transform to Excel

In [ ]:
# Filter the Oracle data
date_query = (df_oracle['test_datetime'] >= "2021-08-18") & (df_oracle['test_datetime'] < "2021-08-19")
df_filtered_oracle = df_oracle.query('@date_query')
# Send part part of the Oracle filtered DataFrame to Excel file
df_filtered_oracle.to_excel('testtable_transformed_oracle_export.xlsx', index=False, columns=['test_datetime', 'test_number'])

# Write Oracle transform to CSV

In [ ]:
# Filter the Oracle data
date_query = (df_oracle['test_datetime'] >= "2021-08-18") & (df_oracle['test_datetime'] < "2021-08-19")
df_filtered_oracle = df_oracle.query('@date_query')
# Send part part of the Oracle filtered DataFrame to CSV file
df_filtered_oracle.to_csv('testtable_transformed_oracle_export.csv', index=False, columns=['test_datetime', 'test_number'])