# Setup in VS Code
### First set your Python interpreter in (Cmd Shift P): "Python: Select Interpreter" and select a matching "python3" for the next line
### Install Jupyter if not already installed: "pip3 install Jupyter"
### Next start a new Jupyter notebook (Cmd Shift P): "Jupyter: Create New Blank Notebook"
### Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"
### Install "pip3 install SQLAlchemy" and "pip3 install cx_Oracle" for Oracle connectivity
### Review Oracle ODBC setup in pythonoracle_odbc.py (this example uses ODBC)

In [75]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# Library to talk with Oracle, requires Python cx_Oracle module and the Oracle Instant Client to be installed on host
from sqlalchemy import create_engine

# Read Excel file

In [90]:
# Create data frame from Excel
df_excel = pd.read_excel("testtable.xlsx", converters={'TEST_DATETIME':str, 'TEST_NUMBER':int, 'TEST_TEXT':str})
# View your new data frame
df_excel

         TEST_DATETIME  TEST_NUMBER                             TEST_TEXT
0  2021-08-18 13:24:39       128355                          Test from R!
1  2021-08-18 13:40:42       128355                    Test from R again!
2  2021-08-18 13:46:47       209998               Test from R once again!
3  2021-08-18 13:55:06       498198       R test from the actual program!
4  2021-08-20 15:12:05       573466                     Test from Python!
5  2021-08-20 15:12:05       678345               Test from Python again!
6  2021-08-20 15:37:45       456234          Test from Python once again!
7  2021-08-20 16:31:54       654321  Python test from the actual program!

# Excel Columns

In [79]:
# List data frame columns
df_excel.columns

Index(['TEST_DATETIME', 'TEST_NUMBER', 'TEST_TEXT'], dtype='object')

# Oracle Setup and Test

In [ ]:
# Connection string (assumes Oracle TNS is already configured)
db_connection = 'oracle+cx_oracle://[account]:[pass]@ORACLE_TNS'
# Database connection
db_inst = create_engine(db_connection)
# Read existing Oracle table
oracle_table = "testtable"
oracle_query = "SELECT * FROM '%s'" % (str(oracle_table))
df_oracle = pd.read_sql_query(oracle_query, con=db_connection)

# Append Excel to Oracle

In [81]:
# Send Excel data frame to Oracle
df_excel.to_csv('testtable_excel_export.csv', index=False)

# Write Excel transform to CSV

In [91]:
# Filter the Excel data
date_query = df_excel['TEST_DATETIME'].str.contains("2021-08-18")
df_filtered_excel = df_excel.query('@date_query')
# Send part part of the Excel filtered data frame to CSV file
df_filtered_excel.to_csv('testtable_transformed_excel_export.csv', index=False, columns=['TEST_DATETIME', 'TEST_NUMBER'])