# Setup in VS Code
- First set your Python interpreter in (Cmd Shift P): "Python: Select Interpreter" and select a matching "python3" for the next line
- Install Jupyter if not already installed: "pip3 install Jupyter"
- Next start a new Jupyter notebook (Cmd Shift P): "Jupyter: Create New Blank Notebook"
- Install "pip3 install pandas" and to be able to read Excel files "pip3 install openpyxl"

In [2]:
# Pandas for CSV/Excel manipulation
import pandas as pd
# Used to get the current date/time
from datetime import datetime, timedelta
# Used to generate a random number
import random

# Sample Data build in DataFrame

In [3]:
# Create DataFrame from scatch and populate it with test data
df_sampledata = pd.DataFrame(columns=['TEST_DATETIME', 'TEST_NUMBER', 'TEST_TEXT', 'RECORD_ADDED'], index=['record_a', 'record_b', 'record_c', 'record_d'])
# Get the current date/time and the last 2 days and put them in a list
dates_to_add = list([])
two_days_ago = (datetime.now() - timedelta(days=2)).strftime("%Y/%m/%d %H:%M:%S")
two_days_ago_text = (datetime.now() - timedelta(days=2)).strftime("%B %d of %Y")
dates_to_add.append(dict({"datetime": two_days_ago, "datetext": two_days_ago_text}))
yesterday_was = (datetime.now() - timedelta(days=1)).strftime("%Y/%m/%d %H:%M:%S")
yesterday_was_text = (datetime.now() - timedelta(days=1)).strftime("%B %d of %Y")
dates_to_add.append(dict({"datetime": yesterday_was, "datetext": yesterday_was_text}))
now_is = datetime.now().strftime("%Y/%m/%d %H:%M:%S")
now_is_text = datetime.now().strftime("%B %d of %Y")
dates_to_add.append(dict({"datetime": now_is, "datetext": now_is_text}))
# Loop through each day and add some records
for date_to_add in dates_to_add:
    # Date and text to use
    date_is = date_to_add['datetime']
    text_is = "Record added " + date_to_add['datetext']
    # Add four records for each date
    for records_to_add in range(4):
        # Get a random number with 6 digits
        number_is = random.randint(100000, 1000000)
        # Populate some data
        df_sampledata = df_sampledata.append(pd.Series({'TEST_DATETIME': date_is, 'TEST_NUMBER': number_is, 'TEST_TEXT': text_is, 'RECORD_ADDED': date_is}), ignore_index=True)
# View new DataFrame
df_sampledata

,TEST_DATETIME,TEST_NUMBER,TEST_TEXT,RECORD_ADDED
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,2021/08/24 16:52:16,611307,Record added August 24 of 2021,2021/08/24 16:52:16
5,2021/08/24 16:52:16,271110,Record added August 24 of 2021,2021/08/24 16:52:16
6,2021/08/24 16:52:16,681893,Record added August 24 of 2021,2021/08/24 16:52:16
7,2021/08/24 16:52:16,346079,Record added August 24 of 2021,2021/08/24 16:52:16
8,2021/08/25 16:52:16,572407,Record added August 25 of 2021,2021/08/25 16:52:16
9,2021/08/25 16:52:16,130332,Record added August 25 of 2021,2021/08/25 16:52:16
10,2021/08/25 16:52:16,748187,Record added August 25 of 2021,2021/08/25 16:52:16
11,2021/08/25 16:52:16,879078,Record added August 25 of 2021,2021/08/25 16:52:16
12,2021/08/26 16:52:16,272686,Record added August 26 of 2021,2021/08/26 16:52:16
13,2021/08/26 16:52:16,787605,Record added August 26 of 2021,2021/08/26 16:52:16
14,2021/08/26 16:52:16,551367,Record added August 26 of 2021,2021/08/26 16:52:16
15,2021/08/26 16:52:16,356276,Record added August 26 of 2021,2021/08/26 16:52:16

# Format Fields (optional since these are not maintained once written to Excel or CSV)

In [4]:
# String to Date/Time
df_sampledata['TEST_DATETIME'] = pd.to_datetime(df_sampledata['TEST_DATETIME'])
df_sampledata['RECORD_ADDED'] = pd.to_datetime(df_sampledata['RECORD_ADDED'])
# String to Int
df_sampledata['TEST_NUMBER'] = df_sampledata['TEST_NUMBER'].astype(int)

# Sample Data Columns

In [5]:
# List DataFrame columns
df_sampledata.columns
# List field types
df_sampledata.convert_dtypes().dtypes

TEST_DATETIME    datetime64[ns]
TEST_NUMBER               Int64
TEST_TEXT                string
RECORD_ADDED     datetime64[ns]
dtype: object

# Sample Data to Excel

In [6]:
# Send DataFrame to Excel file
df_sampledata.to_excel('testtable_source.xlsx', index=False)

# Sample Data to CSV

In [7]:
# Send DataFrame to CSV file
df_sampledata.to_csv('testtable_source.csv', index=False)